html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Startupathon 
    meta(name='og:description', content='Meet other enspriring entrepreneurs, build a company, take over the world!')
    meta(name='og:title', content='Startup Enablement & Acceleration')
    meta(name='og:image', src='https://doc-0g-1c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/u5a050r2vf84hk2f8ui1mcjsb0nkmvel/1551542400000/06731952487192677550/*/1ck2gRFJ0-K0bV4Ol0hemsHmVg37thwEB')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Changa:300,400,500', rel='stylesheet')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/img/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/img/favicon-16x16.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
  body
    header
      h2
        a(href='#') Leo
      nav
        li
          h2
            a(href='/auth/google') Login
    section.hero
      .hero-content-area
        h1 Read. Enjoy. Learn.
        h3 Leo apprender
        h3 I read to learn
        section.contact
          form#mc-embedded-subscribe-form.validate(action='https://squadup.us20.list-manage.com/subscribe/post?u=e6842446590b86a35c42f5fe4&id=a0df4570de', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_e6842446590b86a35c42f5fe4_a0df4570de', tabindex='-1', value='')
            input.btn(type='submit', value='Download APP', name='subscribe')
    section.packages
      h3.title The Gist
      p We are building a network of creators, entrepreneurs & go-getters to launch startups.
      hr
      ul.grid
        li
          i.fa.fa-group.fa-4x
          h4 Learn through reading.
          p
            | stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
        li
          i.fa.fa-thumbs-o-up.fa-4x
          i.fa.fa-thumbs-o-up.fa-4x.fa-flip-horizontal
          h4 Read your favorite stories.
          p 
            | stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
        li
          i.fa.fa-line-chart.fa-4x
          h4 Read from the locals that you want to learn.
          p
            | stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
        li
          i.fa.fa-flag-checkered.fa-4x
          h4 It's easy and fun
          p
            | stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    section.contact
      h3.title Stay up to date
      p
        | We are still early. But if you want to hear some thoughts and stay up to date with our progress, subscibe to our newsletter.
      hr
      form#mc-embedded-subscribe-form.validate(action='https://squadup.us20.list-manage.com/subscribe/post?u=e6842446590b86a35c42f5fe4&id=a0df4570de', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
          input(type='text', name='b_e6842446590b86a35c42f5fe4_a0df4570de', tabindex='-1', value='')
        input.btn(type='submit', value='Stay Tuned', name='subscribe')
      hr
    footer
      ul
        li
          a(href='https://twitter.com/theadamupchurch')
            i.fa.fa-twitter-square.fa-2x
        li
          a(href='https://www.instagram.com/squadup.gg/')
            i.fa.fa-instagram.fa-2x