<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SquadUp E-Sports Team Platform </title>
    <meta name='og:description' content='The E-Sports Team Platform to manage your team, track and analyze data, communicate and grow your team to global domination!'>
    <meta name='og:title' content='SquadUp E-Sports Platform'>
    <meta name='og:image' src='https://doc-0g-1c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/u5a050r2vf84hk2f8ui1mcjsb0nkmvel/1551542400000/06731952487192677550/*/1ck2gRFJ0-K0bV4Ol0hemsHmVg37thwEB'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Changa:300,400,500" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/stylesheets/home.css">
    
  </head>
<body>
  <header>
    <h2><a href="#">SquadUp</a></h2>
  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fpaularmstrongtech%2Ffiles%2F2017%2F03%2FScreen-Shot-2017-03-15-at-20.56.23.jpg);"></div>
    <div class="hero-content-area">
      <h1>Start a Squad</h1>
      <h3>Take Over the World</h3>
      <h4>E-Sports Team Platform</h4>
      <section class="contact">
          <form action="https://squadup.us20.list-manage.com/subscribe/post?u=e6842446590b86a35c42f5fe4&amp;id=a0df4570de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e6842446590b86a35c42f5fe4_a0df4570de" tabindex="-1" value=""></div>
            <input type="submit" value="Join Waiting List" name="subscribe" class="btn">
          </form>
          
      </section>
    </div>
  </section>

  <section class="packages">
    <h3 class="title">The Gist</h3>
    <p>We are building an eSports team platform to lead your squad to victory.</p>
    <hr>

    <ul class="grid">
      <li>
        <i class="fa fa-group fa-4x"></i>
        <h4>Start a Squad</h4>
        <p>Whether for fun or to take over the world, create your dream team. Add your teammates or recruit new ones.</p>
      </li>
      <li>
        <i class="fa fa-thumbs-o-up fa-4x"></i>
        <i class="fa fa-thumbs-o-up fa-4x fa-flip-horizontal"></i>
        <h4>Lead your Squad</h4>
        <p>Have one centralized platform to collaborate, communicate and prepare or battle.</p>
      </li>
      <li>
        <i class="fa fa-line-chart fa-4x"></i>
        <h4>Track Analytics</h4>
        <p>Use data analytics to track performances, identify strengths and improve weaknesses.</p>
      </li>
      <li>
        <i class="fa fa-flag-checkered fa-4x"></i>
        <h4>Take Over the World</h4>
        <p>You are here for one reason. To dominate in the world of eSports and have fun doing it.</p>
      </li>
    </ul>
  </section>

  <section class="contact">
    <h3 class="title">Stay up to date</h3>
    <p>We are still early in the process so there is lots of work to do. Subscribe to stay up to date with our progress, insights into eSports and the lessons we learn along the way.</p>
    <hr>
    <form action="https://squadup.us20.list-manage.com/subscribe/post?u=e6842446590b86a35c42f5fe4&amp;id=a0df4570de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e6842446590b86a35c42f5fe4_a0df4570de" tabindex="-1" value=""></div>
      <input type="submit" value="Stay Tuned" name="subscribe" class="btn">
    </form>
      <hr>
      <p>If you want to get involved or would like to be a resource, drop us a message at theSquadUpgg at gmail.</p>
  </section>

  <footer>
    <ul>
      <li><a href="https://twitter.com/SQUADUPgg_"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="https://www.instagram.com/squadup.gg/"><i class="fa fa-instagram fa-2x"></i></a></li>

    </ul>
  </footer>

</body>
</html>
