extends layout

block content
  h1= title
  p Welcome to Atlanta's Startup Sprint Team!

  h1 What we have helped !{data.founder_count} founders launch !{data.startup_count} startups in !{data.industry_count} industries.

  if error
    p Error getting startup information
