extends layout

block content
    h1 Industry: #{industry.name}
    
    p Startups:
    ul
        each startup in industry_startups.length ? industry_startups : ['There are no startups']
            li=startup
    p Do you really want to delete this industry?

    form(method="POST" action='')
        .form-group
            input#industryid.form-control(type='hidden', name='industryid', required='true', value=industry._id)
        button.btn.btn-primary(type='submit') Delete