extends layout

block content
    h1= title

    ul
        each startup in startup_list
            li
                a(href=startup.url) #{startup.title} 
                | - #{startup.foundersList} 
        else
            li There are no startups.